/.classpath
/.mendix-cache
/.project
/.vscode
/*.mpr.bak
/*.mpr.lock
/deployment
/theme-cache
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/*.mpr.bak
/*.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
# !/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/